<div class="wrapper">
        <div class="changePasswordHeading">
          
          <span>Change Password</span>
        </div>
        <div class="passwordInput">
          <div class="passwordInputField">
            <label for="enterPassword">Enter New Password</label>
            <input type="text" name="enterPassword" />
          </div>
          <div class="passwordInputField">
            <label for="reenterPassword">Re-Enter New Password</label>
            <input type="text" name="reenterPassword" />
          </div>

          <div class="button">
            <button>Save</button>
          </div>
        </div>
        
      </div>
      