.blogsContainer {
        display: flex;
      }
      .blogs {
        flex: 70%;
        
      }
      .extra {
        flex: 30%;
        display: flex;
        flex-direction: column;
      }
      
      