

.container__logo {
  background-color: rgb(101, 101, 50);;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container__logo__image {
  width: 182px;
  height: 263.54px;
}

.container__theft_heading {
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
}

@media screen and (max-width: 940px) {
  .container__theft_heading {
    display: block;
  }
}

.container__theft_heading__icon {
  align-items: center;
  margin: 0;
}

.container__theft_heading__icon img {
  height: 100%;
}
